<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<div th:fragment="certCotizacionFooter">
	<div id="contenedor-imagen"><img src="https://belcorptestimage.s3.amazonaws.com/vigilado.png" style="height:127px; width:15px;"></img></div>
	<table style="width:97%; text-align: center; word-wrap: break-word;" >
		<tr>
			<td style="width:30%; font-size:9px;">
				Dirección de la Compañía para notificaciones
				<br/>
				Av. Carrera 9 #101- 67 Piso 7 Bogotá, Colombia
				<br/>
				Línea Nacional 01 8000 911 360
			</td>
			<td style="width:45%; font-size:9px; padding-top:10px">ASEGURADO</td>
			<td style="width:30%; font-size:9px; padding-top:10px">SBS SEGUROS COLOMBIA S.A.
				<br/>
				<img src="https://belcorptestimage.s3.amazonaws.com/firmaLuisaMaya.png" style="height:25px; width:100px;"></img>
				<div style="font-style:9px;  border-top: 0.2px solid #000000; width:150px; margin-left:30px;">
					Firma Autorizada
				</div>
			</td>
		</tr>
	</table>
	<br/>
	<table style="width:50%; text-align:left;" >
		<tr>
			<td style="width:50%; font-size:7px;">
				<span style="color:#9e1c64"><strong>Defensor del Consumidor Financiero</strong></span>
				<br/>
				<span>Principal: José Guillermo Peña Gonzalez</span>
				<br/>
				<span>Suplente: Cesar Alejandro Pérez Hamilton</span>
				<br/>
				<span>http://pgabogados.com/</span>

			</td>
			<td style="width:40%; font-size:7px;">
				<span>Telefax: 601 213 13 70 - 601 213 13 22</span>
				<br/>
				<span>Dirección: Avenida 19 No. 114 - 09, Oficina 502 </span>
				<br/>
				<span>E-mail: defensorsbs@pgabogados.com</span>
			</td>
		</tr>
	</table>
</div>