<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<div th:fragment="certIntermediario">
<table style="text-align: left; border: .5pt solid  #000000; border-collapse: collapse; border-top-style: none !important; width:97%">
	<tr>
		<th style="width:413px; border-right: .4pt solid  #000000; border-top: none !important; border-bottom: none !important; border-left: none !important;">
			<table  style="text-align: center; width:100%;">
				<tr>
					<td style="width:40%"><strong>INTERMEDIARIO</strong> <br />
						<span th:text="${informationPolicy.intermediaryName}"></span></td>
					<td style="width:15%"><strong>CLAVE</strong> <br /> <span th:text="${informationPolicy.intermediaryKey}"></span></td>
					<td style="width:45%;">%PARTICIPACIÓN <br />
					<!--<span th:text="${header.companyChargePercentage}"></span>-->
						100
					</td>

				</tr>
			</table>
		</th>
		<th>
			<table style="text-align: center; width:100%">
				<tr>
					<td colspan="2"><span th:text="${informationPolicy.operationType}"></span></td>
				</tr>
				<tr>
					<td><strong>
						SBS SEGUROS COLOMBIA S.A.
<!--						<span th:text="${header.ciaName}"></span>-->
					</strong></td>
					<td><strong>% PARTICIPACIÓN</strong> <br/>100
					<!--<span th:text="${header.companyChargePercentage}"></span>-->
					</td>
				</tr>
			</table>
		</th>
	</tr>
	</table>
</div>