<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="https://belcorptestimage.s3.amazonaws.com/templateStyle.css"/>
</head>

<div  class="header" th:replace="fragments :: header"></div >
<body>
    <div>
        <img src="https://belcorptestimage.s3.amazonaws.com/portadaMercadeoEmpresarial.png" class="portada" style="width: 97%" alt=""></img>
    </div>



    <div style="margin-left: 10px;margin-top: 10px">
        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.


    </div>


    <div style="page-break-before:always">&nbsp;</div>

    <div style="margin-left: 10px;margin-top: 10px">


    Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

        Pago de la prima 30 días calendario<br/>
        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>
        3. Plazo de aviso de siniestro 30 días hábiles.<br/>
        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta
        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación
        y adjunte los soportes correspondientes para su respectiva validación.<br/>
        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la
        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o
        fracciones causadas y pendientes de pago.<br/>
        6. Forma y plazo para el pago de la prima: <br/>
        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>
        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo
        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de
        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de
        vigencia de la póliza.<br/>
        7. Es requisito el diligenciamiento del formulario de seguro para la definición de
        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>
        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago
        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,
        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de
        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,
        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés
        moratorio vigente en el momento en que efectúe el pago.<br/>
        En todo caso, SBS SEGUROS se reserva el
        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación
        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS
        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la
        reclamación.

    </div>

<!--&lt;!&ndash;    <div style="page-break-before:always">&nbsp;</div>&ndash;&gt;-->
<!--    <div th:include="certHeader::certHeader"></div>-->
<!--    <div th:include="certCabeceraCotizacion::certCabeceraCotizacion"></div>-->
<!--    <div th:include="certTomadorVida::certTomadorVida"></div>-->
<!--    <div th:include="certVigenciaCotizacion::certVigenciaCotizacion"></div>-->
<!--    <div th:include="certIntermediario::certIntermediario"></div>-->

<!--    <div th:each="aditionalInsuredList : ${informationPolicy.aditionalInsuredList}">-->

<!--        <div th:include="certRiesgoPersona::certRiesgoPersona"></div>-->

<!--        <div style="position: relative;">-->
<!--            <br/>-->
<!--            <div style="width:97%; text-align:center; display:block; position: relative;"><strong>AMPAROS Y COBERTURAS</strong></div>-->
<!--            <div style="border: 0.2px solid  #000000; height:120px; width:97%; margin-left: 10px; display: block; position:relative">-->
<!--                <div th:include="certCoberturasVida::certCoberturasVida"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div style="page-break-before:always">&nbsp;</div>-->
<!--    <div style="position: relative;">-->
<!--        <div th:include="certHeader::certHeader"></div>-->
<!--        <div th:include="certCabeceraCotizacion::certCabeceraCotizacion"></div>-->
<!--        <div th:include="certTomadorVida::certTomadorVida"></div>-->
<!--        <div th:include="certVigenciaCotizacion::certVigenciaCotizacion"></div>-->
<!--        <div th:include="certIntermediario::certIntermediario"></div>-->
<!--        <br/>-->
<!--        <div style="width:97%; text-align:center; display:block; position: relative;"><strong>BENEFICIARIOS</strong></div>-->
<!--        <div style="border: 0.2px solid  #000000; height:80px; width:97%; margin-left: 10px; display: block; position:relative">-->
<!--        &lt;!&ndash;            <img src="https://belcorptestimage.s3.amazonaws.com/watermarkSBS.png" style="height:90px; width:97%; position:absolute;" alt=""/>&ndash;&gt;-->
<!--            <div th:include="certBeneficiarios::certBeneficiarios"></div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div style="margin-top:10px;" th:include="certTotalesVida::certTotalesVida"></div>-->

<!--    <div style="margin-top:5px;" th:include="certCotizacionFooter::certCotizacionFooter"></div>-->

<!--        <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="page-break-before:always">&nbsp;</div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certHeader::certHeader"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certCabeceraCotizacion::certCabeceraCotizacion"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certTomadorVida::certTomadorVida"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certVigenciaCotizacion::certVigenciaCotizacion"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certIntermediario::certIntermediario"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:each="aditionalInsuredList : ${informationPolicy.aditionalInsuredList[0]}">-->
<!--        <div th:include="certRiesgoPersona::certRiesgoPersona"></div>-->
<!--    </div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="width:97%; text-align:center;"><strong>AMPAROS</strong></div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="border: 0.2px solid  #000000; height:330px; width:97%; margin-left: 10px;">-->
<!--        <br/>-->
<!--        <div th:include="certCotizacionAmparos::certCotizacionAmparos"></div>-->
<!--    </div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="width:97%; text-align:center;"><strong>EXCLUSIONES APLICABLES A TODOS LOS AMPAROS</strong></div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="border: 0.2px solid  #000000; height:100px; width:97%; margin-left: 10px;">-->
<!--        <br/>-->
<!--        <div th:include="certCotizacionExclusionesText::certCotizacionExclusionesText"></div>-->
<!--    </div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="width:97%; text-align:center;"><strong>CONDICIONES</strong></div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="border: 0.2px solid  #000000; height:30px; width:97%; margin-left: 10px;">-->
<!--        <br/>-->
<!--        <div th:include="certCotizacionCondiciones::certCotizacionCondiciones"></div>-->
<!--    </div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="margin-top:5px;" th:include="certCotizacionFooter::certCotizacionFooter"></div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="page-break-before:always">&nbsp;</div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certHeader::certHeader"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certCabeceraCotizacion::certCabeceraCotizacion"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certTomadorVida::certTomadorVida"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certVigenciaCotizacion::certVigenciaCotizacion"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:include="certIntermediario::certIntermediario"></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  th:each="aditionalInsuredList : ${informationPolicy.aditionalInsuredList[0]}">-->
<!--        <div th:include="certRiesgoPersona::certRiesgoPersona"></div>-->
<!--    </div>-->

<!--    <br/>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="width:97%; text-align:center; padding-left:10px"><strong>CONDICONDICIONES PARTICULARES</strong></div>-->
<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="width:97%; margin-left: 10px; border: 0.2px solid #000000; height:400px; ">-->
<!--        <table style="width:97%;">-->
<!--            <tr>-->
<!--                <td style="font-style:normal; font-size:11px; text-align:justify;">-->

<!--                    <div style="margin-left: 10px;margin-top: 10px">-->
<!--                        Pago de la prima 30 días calendario<br/>-->
<!--                        2. Revocación o no renovación, con aviso escrito previo de 60 días.<br/>-->
<!--                        3. Plazo de aviso de siniestro 30 días hábiles.<br/>-->
<!--                        4. Plazo para el pago de siniestros: La compañía pagará el valor asegurado dentro de los treinta-->
<!--                        (30) días hábiles siguientesa la fecha en que el tomador / beneficiario formalice la reclamación-->
<!--                        y adjunte los soportes correspondientes para su respectiva validación.<br/>-->
<!--                        5. Si llegase a ocurrir algún siniestro antes del vencimiento del plazo para el pago de la-->
<!--                        prima, la COMPAÑÍA pagará el valorasegurado correspondiente, previa deducción de las primas o-->
<!--                        fracciones causadas y pendientes de pago.<br/>-->
<!--                        6. Forma y plazo para el pago de la prima: <br/>-->
<!--                        ▪Facturación: Mensual sin recargo–Descuento por Nomina<br/>-->
<!--                        ▪Plazo para el pago de la prima: será el estipulado en la carátula de la póliza de acuerdo a lo-->
<!--                        convenido con el tomador de lamisma para tal fin, según la alternativa escogida como forma de-->
<!--                        pago, la cual no podrá exceder de 30 días calendario contados a partir de la fecha de inicio de-->
<!--                        vigencia de la póliza.<br/>-->
<!--                        7. Es requisito el diligenciamiento del formulario de seguro para la definición de-->
<!--                        beneficiarios, en caso de no hacer diligenciamiento los beneficiarios serán los de ley.<br/>-->
<!--                        8. Documentos para la atención de siniestros:El asegurador estará obligado a efectuar el pago-->
<!--                        del siniestro dentro del mes siguiente a la fecha en que el asegurado o beneficiario acredite,-->
<!--                        aun extrajudicialmente, su derecho ante el asegurador de acuerdo con el artículo 1077 código de-->
<!--                        comercio. Vencido este plazo, el asegurador reconocerá y pagará al asegurado o beneficiario,-->
<!--                        además de la obligación a su cargo y sobre el importe de ella, la tasa máxima de interés-->
<!--                        moratorio vigente en el momento en que efectúe el pago.<br/>-->
<!--                        En todo caso, SBS SEGUROS se reserva el-->
<!--                        derecho de solicitar cualquier documento encaminado a analizar y evaluar la reclamación-->
<!--                        presentada. De la misma manera la persona asegurada y/o sus beneficiarios se comprometen con SBS-->
<!--                        SEGUROS a colaborar con toda investigación médica encaminada a esclarecerla causa de la-->
<!--                        reclamación.-->

<!--                    </div>-->

<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->

<!--    <div th:if="${typeDownload != 'PÓLIZA NUEVA'}"  style="margin-top:5px;" th:include="certCotizacionFooter::certCotizacionFooter"></div>-->


<!--    </div>-->
</body>
</html>